{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="juggling-balls.html">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        You are not eligible for a licence
      </h1>

      <p>If you cannot juggle, you cannot have a licence.</p>
      <p>So forget it</p>

      <p>If you can juggle go <a href="juggling-balls.html">back</a> and change your answer.</p>

    </div>
  </div>

{% endblock %}
